<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Mouvements de Prix de Produit</h2>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Date de Modification</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mouvement of mouvementsPrixProduits()">

                        <td>
                            <strong>{{ mouvement.nom }}</strong><br>
                        </td>
                        <td>{{ mouvement.prix | number:'1.0-0' }} MGA</td>
                        <td>{{ mouvement.date | date:'dd/MM/yyyy HH:mm' }}</td>
                    </tr>
                    <tr *ngIf="mouvementsPrixProduits().length === 0">
                        <td colspan="5" class="text-center py-4 text-muted">Aucun mouvement de prix de produit trouvé
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>