<div class="container mt-4">

  <h2 class="mb-4">📄 Liste des factures</h2>

  <div class="facture-list">

    <div class="facture-card"
     *ngFor="let achat of achats()"
     [routerLink]="['/home/achat-details', achat._id]">

  <div class="facture-left">
    <h5 class="facture-date">
      Date : {{ achat.createdAt | date:'dd/MM/yyyy HH:mm' }}
    </h5>
    <p class="facture-items">
      Nombre d’articles : {{ achat.nombreItems }}
    </p>
  </div>

  <div class="facture-right">
    <span class="facture-total">
      {{ achat.total | currency:'MGA ':'symbol':'1.0-0' }}
    </span>
  </div>

</div>

    <div *ngIf="achats().length === 0" class="no-facture">
    Aucune facture disponible
  </div>

  </div>
</div>
