<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Favoris</h2>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Type</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let favori of favoris()">
                        <td>
                            <img [src]="favori.boutique.photo ? 'http://localhost:3000/' + favori.boutique.photo : 'assets/placeholder.png'"
                                class="img-thumbnail" style="width: 50px; height: 50px; object-fit: cover;">
                        </td>
                        <td>
                            <strong>{{ favori.boutique.nom }}</strong><br>
                        </td>
                        <td>{{ favori.boutique.typeBoutique.nom }}</td>
                        <td class="text-end">
                            <button class="btn btn-sm btn-outline-danger" (click)="deleteFavori(favori._id!)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="favoris().length === 0">
                        <td colspan="5" class="text-center py-4 text-muted">Aucun favori trouvé</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-white border-top-0 pt-0 pb-3" *ngIf="favoris().length > 0">
            <app-pagination [totalItems]="totalItems()" [pageSize]="pageSize()" [currentPage]="currentPage()"
                (pageChange)="onPageChange($event)">
            </app-pagination>
        </div>
    </div>
</div>